<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>
	{% spaceless %}
        {% block metaTitleStart %}{% endblock %} {{ portfolio_info.generalSettings.globalGeneralMetaTitle }}{% block metaTitleEnd %}{% endblock %}
    {% endspaceless %}
	</title>
	
	<link rel="shortcut icon" href="/favicon.ico?v=2" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed "href="/apple-touch-icon.png" />
	
    {% block metaDescription %}{% endblock %}
    {% if corvus_version %}
		<meta name="generator" content="Corvus V. {{ corvus_version }}" />
    {% endif %}

	{# Page specific Stylesheets #}
	{% block stylesheets %}{% endblock %}

	{# Common Stylesheets #}
	{% stylesheets filter="?cssrewrite"
		'%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less'
		'%kernel.root_dir%/Resources/public/css/font-awesome.css'
	%}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
	
	{# Theme Specific CSS #}
	{% set frontendcsspath = 'bundles/corvusfrontend/css/' %}
	<link href="{{ asset(frontendcsspath ~ portfolio_info.getThemeChoice ~ "/design.css") }}" rel="stylesheet" media="screen" />
	<link href="{{ asset(frontendcsspath ~ portfolio_info.getThemeChoice ~ "/layout.css") }}" rel="stylesheet" media="screen" />
</head>
<body>
	<!-- Main Navigation -->
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container-fluid">
			<!-- Portfolio Title and Collapse element -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavigation">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{ portfolio_info.generalSettings.portfolioTitle }}</a>
			</div>
			
			<div class="collapse navbar-collapse" id="mainNavigation">
				<ul class="nav navbar-nav">
					{{ portfolio_info.createNavigation }}
				</ul>
			</div>
		</div>
	</nav> <!-- Main Navigation End -->

    <div class="page-header" class="clearfix">
		<div id="logo" class="pull-left">
            {% if portfolio_info.generalSettings.displayLogo == true %}
                {{ portfolio_info.includeLogo }}
            {% endif %}
        </div>
		<h1>{{ portfolio_info.generalSettings.portfolioTitle }}

		{% if portfolio_info.generalSettings.displaySubtitle == true %}
			<small>{{ portfolio_info.generalSettings.portfolioSubtitle }}</small>
		{% endif %}
		</h1>
    </div>
    <div id="mainContainer">
        {% block mainContent %}
        {% endblock %}
    </div>

    <footer>
        <div id="subFooter">{{ portfolio_info.generalSettings.footerText }}</div>
{#		<p><a href="#container" alt="Back to top of page Link">Back To Top</a></p>#}
    </footer>
	<div class="corvusFooter row">
		<div class="col-md-6">
		Powered by <strong><a href='https://github.com/ilikeprograms/corvus' target='_blank'>Corvus</a></strong>
		</div>
		<div class="col-md-6 text-right">
			<a href="{{ path('CorvusFrontendBundle_Login') }}" alt="Corvus Backend Login Link">Login</a>
		</div>
	</div>

	{% block javascripts %}
	{% endblock %}

	{% javascripts
		'%kernel.root_dir%/Resources/js/jquery.min.js'
		'bundles/corvuscore/js/common.js'
		'%kernel.root_dir%/../vendor/twbs/bootstrap/js/tab.js'
		'%kernel.root_dir%/../vendor/twbs/bootstrap/js/collapse.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{{ portfolio_info.includeAnalyticsTracking }}
</body>
</html>