{% extends 'CorvusFrontendBundle:' ~ theme_manager.getTemplateChoice ~ ':base.html.twig' %}

{% block metaTitleStart %}{{ portfolio_info.generalSettings.globalProjectHistoryMetaTitle }} {{ projectHistory.metaTitle }}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ projectHistory.metaDescription }}" />{% endblock %}

{% block mainContentBlock %}
	<article id="mainContainer" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <header class="well clearfix">
                <i class="fa fa-rocket fa-2x wellImg pull-left hidden-xs" title="Small Project History Icon"></i>
                <h2>{{ projectHistory.projectName | markdown }}</h2>
                <p>{{ projectHistory.role }}</p>
            </header>

            <section>
                <h3>Project Description</h3>
                <p>{{ projectHistory.projectDescription | markdown }}</p>

                {% if projectHistory.process %}
                    <h3>Process</h3>
                    <p>{{ projectHistory.process | markdown }}</p>
                {% endif %}

                {% if projectHistory.feedbackReceived %}
                    <h3>Feedback Received</h3>
                    <blockquote><p>{{ projectHistory.feedbackReceived | markdown }}</p></blockquote>
                {% endif %}

                {% if projectHistory.reflection %}
                    <h3>Reflection</h3>
                    <p>{{ projectHistory.reflection | markdown }}</p>
                {% endif %}

                {% if projectHistory.url %}
                    <h3>Url</h3>
                    <p><a href="{{ projectHistory.url }}" target="_blank" title="Corvus Project Link">{{ projectHistory.projectName }} URL</a></p>
                {% endif %}
            </section>
        </div>
      </div>
	</article>
{% endblock %}