{% extends 'CorvusFrontendBundle:' ~ theme_manager.getTemplateChoice ~ ':base.html.twig' %}

{% block metaTitleStart %}{{ portfolio_info.generalSettings.skillsMetaTitle }}{% endblock %}

{% block mainContent %}
	<div class="well clearfix">
		<i class="fa fa-magic fa-5x wellImg pull-left" alt="Large Skills Icon"></i>
		<hgroup class="pull-left">
			<h2>Skills</h2>
			<p>This is a list of my skills</p>
		</hgroup>
	</div>
	<div>
		{% if skills | length > 0 %}
			<h2>Quick list of skills</h2>
			<br />
				<ul class="list-inline">
				{% for skill in skills %}
					{% if skill.isQuickSkill %}
						<li>{{ skill.skillName }}</li>
					{% endif %}
				{% endfor %}
				</ul>
			<hr />
		{% endif %}

		{% for skill in skills %}
			{% if skill.canDisplaySkill %}
				<h3>{{ skill.skillName }}</h3>
				<br />

				<h4 class="displayInline">Competency -</h4>
				<p class="displayInline">{{ skill.competency }}</p>

				<br />
				<br />

				<h4 class="displayInline">Years Experience -</h4>
				<p class="displayInline">{{ skill.yearsExperience }}</p>

				<br />
				<br />

				<h4>Description</h4>
				<p>{{ skill.description }}</p>

				{% if not loop.last %}
					<br />
					<hr />
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}