{% extends 'CorvusFrontendBundle:' ~ theme_manager.getTemplateChoice ~ ':base.html.twig' %}

{% block metaTitleStart %}{{ portfolio_info.generalSettings.globalWorkHistoryMetaTitle}} {{ workHistory.metaTitle }}{% endblock %}

{% block metaDescription %}<meta name="description" content="{{ workHistory.metaDescription }}" />{% endblock %}

{% block mainContentBlock %}
	<article id="mainContainer">
		<header class="well clearfix">
			<i class="fa fa-briefcase fa-2x wellImg pull-left hidden-xs" title="Small Work History Icon"></i>
			<h2>{{ workHistory.role }}</h2>
			<p>{{ workHistory.employerName }} - {{ workHistory.startDate | date('F j, Y') }} to {{ workHistory.isCurrentPosition == true ? 'Current' : workHistory.endDate | date('F j, Y') }}</p>
		</header>
		<section>
			{% if workHistory.duties %}
				<h3>Duties</h3>
				<p>{{ workHistory.duties | markdown }}</p>
			{% endif %}

			{% if workHistory.feedbackReceived %}
				<h3>Feedback Received</h3>
				<p>{{ workHistory.feedbackReceived | markdown }}</p>
			{% endif %}

			{% if workHistory.reflection %}
				<h3>Reflection</h3>
				<p>{{ workHistory.reflection | markdown }}</p>
			{% endif %}
		<section>	
		<br />
		{% if (workHistory.employerAddress or workHistory.employerPhoneNumber) %}
		<section>
			<h3>Additional Employer Details</h3>
			<hr/>

			{% if workHistory.employerAddress %}
				<h4>Address</h4>
				<p>{{ workHistory.employerAddress }}</p>
			{% endif %}

			{% if workHistory.employerPhoneNumber %}
				<h4>Phone Number</h4>
				<p>{{ workHistory.employerPhoneNumber }}</p>
			{% endif %}
		</section>
		{% endif %}
	</article>
{% endblock %}