<!DOCTYPE html>
<html>
<head>
    <title>{% spaceless %}
        {% block metaTitleStart %}{% endblock %} {{ portfolio_info.generalSettings.globalGeneralMetaTitle }}{% block metaTitleEnd %}{% endblock %}
    {% endspaceless %}</title>

    {% block metaDescription %}{% endblock %}
    
    {% stylesheets filter="cssrewrite"
        'bundles/corvusfrontend/css/layout.css'
        'bundles/corvusfrontend/css/navigation.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% block javascript %}
    {% endblock %}
</head>
<body onkeydown="loadImage(event)">
<div id="container">
    <div id="pageHeader">
        <div id="logo">
            {% if portfolio_info.generalSettings.displayLogo == true %}
                {{ portfolio_info.getLogo }}
            {% endif %}
        </div>
    	<div id="title">
            <hgroup>
    			<h1>{{ portfolio_info.generalSettings.portfolioTitle }}</h1>
    			
            	{% if portfolio_info.generalSettings.displaySubtitle == true %}
    				<h2>{{ portfolio_info.generalSettings.portfolioSubtitle }}</h2>
            	{% endif %}
            </hgroup>
    	</div>
        <br class="clear" />
    </div>

    <div id="mainNavBar">
        <nav id="mainNav">
            <ul>
                <li>Navigation:&nbsp;</li>
                {{ portfolio_info.createNavigation }}
            </ul>
        </nav>
        <div id="adminBar">
            <a href="{{ path('CorvusFrontendBundle_Login') }}">Login</a>
        </div>
    </div>

    <div id="mainContainer">
        {% block mainContent %}
        {% endblock %}
    </div>

    <footer id="pageFooter">
        <div id="footerNav">
            <h3>Quick Links</h3>
            <hr>
            <ul>
                {{ portfolio_info.createNavigation }}
            </ul>
            <p><a href="#container">Back To Top</a></p>
        </div>
        <div id="subFooter">&copy; 2012 Thomas Coleman. Powered by Corvus</div>
        {{ portfolio_info.includeAnalyticsTracking }}
    </footer>
</div>
</body>
</html>