{% extends 'CorvusFrontendBundle:' ~ portfolio_info.templateChoice ~ ':index.html.twig' %}

{% block metaTitleStart %}{{ portfolio_info.generalSettings.skillsMetaTitle }}{% endblock %}
{% block mainContent %}

	<header class="headerDecoration">
		<img src="{{ asset('bundles/corvusfrontend/images/icons/skills-large.png') }}" class="inlineIcon" />
		<hgroup>
			<h2>Skills</h2>
			<p>This is a list of my skills</p>
		</hgroup>
	</header>
	<div class="boxDecoration">
		<h2>Quick list of skills</h2>
		<br />
		<p>
			{% for skill in skills %}
				{{ skill.skillName }}

				{% if loop.last == false %}
				,
				{% endif %}
			{% endfor %}
		</p>
		<hr />
		<br />

		{% for skill in skills %}
			<h2>{{ skill.skillName }}</h2>
			<br />

			<h3 class="displayInline">Competency -</h3>
			<p class="displayInline">{{ skill.competency }}</p>

			<br />
			<br />

			<h3 class="displayInline">Years Experience -</h3>
			<p class="displayInline">{{ skill.yearsExperience }}</p>

			<br />
			<br />

			<h3>Description</h3>
			<p>{{ skill.description }}</p>

			{% if loop.last == false %}
				<br />
				<hr />
				<br />
			{% endif %}


		{% endfor %}
		
	</div>
{% endblock %}