{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li class="active">About</li>
{% endblock %}

{% block mainContent %}
    <h2>About</h2>
    <div class="well">
        These are all the personal/contact details stored in your corvus record. This will be displayed on the frontend.<br />
		It will also be included in the downloadable CV <span class="label label-info">Coming Soon</span>.
    </div>
    
	<div class="row">
		<div class="col-md-12">
			<form role="form" action="{{ path('admin_about') }}" method="post" {{ form_enctype(form) }}>
				<fieldset>
					<legend><span>About Fields:</span></legend>

                    <div class="form-group">
						{{ form_label(form.firstname) }}
						{{ form_widget(form.firstname) }}
                    </div>

					<div class="form-group">
						{{ form_label(form.lastname) }}
						{{ form_widget(form.lastname) }}
					</div>

					<div class="form-group">
						{{ form_label(form.age) }}
						{{ form_widget(form.age) }}
					</div>

					<div class="form-group">
						{{ form_label(form.bio) }}
						{{ form_widget(form.bio) }}
					</div>

                    <div class="form-group">
                        {{ form_label(form.address) }}
                        {{ form_widget(form.address) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.location) }}
                        {{ form_widget(form.location) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.interests_hobbies) }}
                        {{ form_widget(form.interests_hobbies) }}
                    </div>

					<div class="form-group">
						{{ form_label(form.email_address) }}
						{{ form_widget(form.email_address) }}
					</div>

                    <div class="form-group">
                        {{ form_label(form.twitter) }}
                        {{ form_widget(form.twitter) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.facebook) }}
                        {{ form_widget(form.facebook) }}
                    </div>
				</fieldset>

				{{ form_row(form._token) }}
                {{ core.formErrors(form) }}
                
				<input type="submit" class="btn btn-primary" value="Save" />
			</form>
            
            <aside>
                <h3>Help</h3>
                <p>Fields marked with <span class="required-hint"></span> are required</p>
            </aside>
		</div>
	</div>
{% endblock %}