<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Corvus Dashboard{% endblock %}</title>
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed "href="/apple-touch-icon.png" />

	{% stylesheets filter="?cssrewrite"
		'%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less'
		'bundles/corvuscore/css/core.less'
		'bundles/corvusadmin/css/layout.less'
		'bundles/corvusadmin/css/layout.css'
        'bundles/corvusadmin/css/design.css'
		'%kernel.root_dir%/Resources/public/css/font-awesome.min.css'
	%}
		<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    {% import 'CorvusCoreBundle:Default:core.html.twig' as core %}
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="corvusBar">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ path('admin_home') }}">
				<img src="{{ asset('bundles/corvusadmin/images/corvusV2-64.png') }}" class="brandLogo" /> &nbsp; Corvus &nbsp;
				{% if corvus_version %}<sup><small>V. {{ corvus_version }}</small></sup>{% endif %}
			</a>
		</div>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="{{ path('frontend_logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
			</li>
		</ul>
		<p class="navbar-text navbar-right">
			Logged in as {{ portfolio_info.about.firstname }}
		</p>
	</nav>
    <div class="container-fluid">
        <div class="row">
            <navigation class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    {{ portfolio_info.createNavItem('admin_home', 'Home', 'Home Link', 'fa-home') }}
                    {{ portfolio_info.createNavStack([
                            'admin_general_settings',
                            'General Settings',
                            'General Settings Link',
                            'fa-cogs'
                        ],
                        [[
                            'admin_general_settings_security',
                            'Account Security',
                            'Account Security Link',
                            'fa-lock'
                        ], [
                            'admin_general_settings_analytics',
                            'Analytics',
                            'Analytics Link',
                            'fa-eye'
                        ]
                        ])
                    }}
                    {{ portfolio_info.createNavItem('admin_site_design', 'Site Design', 'Site Design Link', 'fa-tint') }}
                    {{ portfolio_info.createNavItem('admin_education', 'Education', 'Education Link', 'fa-book') }}
                    {{ portfolio_info.createNavItem('admin_work_history', 'Work History', 'Work History Link', 'fa-briefcase') }}
                    {{ portfolio_info.createNavItem('admin_project_history', 'Project History', 'Project History Link', 'fa-rocket') }}
                    {{ portfolio_info.createNavItem('admin_skills', 'Skills', 'Skills Link', 'fa-magic') }}
                    {{ portfolio_info.createNavItem('admin_navigation', 'Navigation', 'Navigation Link', 'fa-sitemap') }}
                    {{ portfolio_info.createNavItem('admin_downloads', 'Downloads', 'Downloads Link', 'fa-gift') }}
                    {{ portfolio_info.createNavItem('admin_about', 'About', 'About Link', 'fa-user') }}
                </ul>
            </navigation>

            <div class="col-md-10">
                <ol class="breadcrumb">
                    <li><a href="{{ path('admin_home') }}">Home</a></li>
                    {% block breadcrumbs %}{% endblock %}
                </ol>
                {% block mainContent %}

                {% endblock %}
            </div>
        </div>
    </div>

    <footer id="pageFooter">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-fixed no-list">
					<li><i class="fa fa-github"></i> <a href="https://github.com/ilikeprograms/corvus" target="_blank">Github</a> <sup>(View or Fork Corvus)</sup></li>
					<li><i class="fa fa-globe"></i> <a href="http://corvus.ilikeprograms.com" target="_blank">Corvus Website</a></li>
					<li><i class="fa fa-wechat"></i> <a href="irc://irc.freenode.net/corvus" target="_blank">#corvus on irc.freenode</a></li>
					<li><i class="fa fa-envelope"></i> <a href="mailto:%22Corvus%20Support%22%20%3ccorvus-support@ilikeprograms.com%3e?subject=Corvus Support">Send us an Email</a> <sup>(corvus-support@ilikeprograms.com)</sup></li>
					<li><i class="fa fa-stack-overflow"></i> <a href="http://stackoverflow.com/questions/tagged/corvus" target="_blank">Stack Overflow</a></li>
				</ul>
			</div>
			<div class="col-md-6 text-right">
				<ul class="list-fixed no-list">
					<li><i class="fa fa-home"></i> <a href="{{ path('frontend_homepage') }}">View Portfolio</a></li>
					<li><i class="fa fa-arrow-up"></i> <a href="#corvusBar">Back to top</a></li>
				</ul>
			</div>
		</div>
		<p class='text-center'><sub>Corvus is released under the MIT License, see LICENCE.txt under the project root for the full licence.</sub></p>
    </footer>

    <div class="alert alert-dismissable hidden" id='alert-template' aria-hidden="true" tabindex="-1" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong></strong>
        <p></p>
    </div>

{% javascripts
	'%kernel.root_dir%/Resources/js/jquery.min.js'
	'bundles/corvuscore/js/common.js'
	'bundles/corvuscore/js/core.js'
	'%kernel.root_dir%/../vendor/twbs/bootstrap/js/tab.js'
	'%kernel.root_dir%/../vendor/twbs/bootstrap/js/alert.js'
	'bundles/corvusadmin/js/noticeScript.js'
%}
	<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}
{% endblock %}

{% if app.session.flashbag.has('notice') %}
    {{ core.displayNotice(app.session.flashbag.get('notice')[0]) }}
{% endif %}
</body>
</html>