<!DOCTYPE html>
<html>
<head>
    <title>{% block title%}Corvus Dashboard{% endblock %}</title>

    {% stylesheets filter="cssrewrite"
        'bundles/corvusadmin/css/layout.css'
        'bundles/corvusadmin/css/design.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% javascripts output="js/compiled/main.js"
        'bundles/corvusadmin/js/noticeScript.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" /></script>
    {% endjavascripts %}
    {% block javascript %}
    {% endblock %}
</head>
<body>
<div id="container">
    <div id="corvusBar">
        <div id="logo">
            <img src="{{ asset('bundles/corvusadmin/images/logo.png') }}" /> &nbsp; Corvus
            &raquo; Hello {{ portfolio_info.about.firstname }}
        </div>
        <div id="flashes">
            {% if app.session.hasFlash('notice') %}
                <div id="flash-notice">
                    {{ app.session.flash('notice') }}
                </div>
            {% endif %}
        </div>
        <div id="version">
            {% if corvus_version %}{{ corvus_version }}{% endif %} &laquo;
            <a href="{{ path('CorvusFrontendBundle_Logout') }}">Logout</a>
        </div>
    </div>
    

    <div id="mainContainer">
        <navigation id="mainNavigation">
            <ul id="logoNav">
                <li class="dashboard"><a href="{{ path('CorvusAdminBundle_homepage') }}">Dashboard</a></li>
                <li class="generalSettings"><a href="{{ path('CorvusAdminBundle_GeneralSettings') }}">General Settings</a></li>
                <li class="siteDesign"><a href="{{ path('CorvusAdminBundle_SiteDesign') }}">Site Design</a></li>
                <li class="education"><a href="{{ path('CorvusAdminBundle_Education') }}">Education</a></li>
                <li class="workHistory"><a href="{{ path('CorvusAdminBundle_WorkHistory') }}">Work History</a></li>
                <li class="projectHistory"><a href="{{ path('CorvusAdminBundle_ProjectHistory') }}">Project History</a></li>
                <li class="skills"><a href="{{ path('CorvusAdminBundle_Skills') }}">Skills</a></li>
                <li class="navigation"><a href="{{ path('CorvusAdminBundle_Navigation') }}">Navigation</a></li>
                <li class="downloads"><a href="{{ path('CorvusAdminBundle_Downloads') }}">Downloads</a></li>
                <li class="about"><a href="{{ path('CorvusAdminBundle_About') }}">About</a></li>
            </ul>
        </navigation>
        <div id="mainContent">
            {% block mainContent %}
            
            {% endblock %}
        </div>
        <br class="clear" />
    </div>

    <footer id="pageFooter">
        <p>&copy; 2012 Thomas Coleman</p>
    </footer>
</div>
</body>
</html>