{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path('admin_general_settings') }}">General Settings</a></li>
	<li class="active">Analytics</li>
{% endblock %}

{% block mainContent %}
    <h2>Analytics</h2>
	<div class="well">
        Enter your <b>Google Analytics Tracking ID</b> to add analytics to Corvus.
		For more information about Analytics, visit <a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a>
	</div>

	<form role="form" action="{{ path('admin_general_settings_analytics') }}" method="post" {{ form_enctype(form) }}>		
		<div class="form-group">
			{{ form_label(form.analytics) }}
			{{ form_widget(form.analytics) }}
		</div>
		<p class="help-block">Leave blank or remove to stop tracking.</p>
		
        {{ core.formErrors(form) }}
		{{ form_rest(form) }}
		
		<input type="submit" class="btn btn-primary" value="Save" />
	</form>
{% endblock %}