{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path('admin_project_history') }}">Project History</a></li>
	<li class="active">Edit</li>
{% endblock %}

{% block mainContent %}
	<h2>Edit "{{ form.vars.value.projectName }} - {{ form.vars.value.role }}"</h2>
	<p class="well">
		Use this form to update the Project details.<br />
	</p>

	<form action="{{ path('admin_project_history_edit', {'id' : form.vars.value.id }) }}" method="post" {{ form_enctype(form) }} class="classy">
		<fieldset>
			<legend>Project History Fields:</legend>			 

            <div class="form-group">
                {{ form_label(form.slug) }}
                {{ form_errors(form.slug) }}
                {{ form_widget(form.slug) }}
            </div>

    		<div class="form-group">
                {{ form_label(form.project_name) }}
                {{ form_errors(form.project_name) }}
                {{ form_widget(form.project_name) }}
            </div>

            <div class="form-group">
                {{ form_label(form.project_description) }}
                {{ form_errors(form.project_description) }}
                {{ form_widget(form.project_description) }}
            </div>

            <div class="form-group">
                {{ form_label(form.role) }}
                {{ form_errors(form.role) }}
                {{ form_widget(form.role) }}
            </div>

    		{{ form_row(form.process) }}
    		{{ form_row(form.feedback_received) }}
    		{{ form_row(form.reflection) }}
    		{{ form_row(form.url) }}

            <div class="form-group">
                {{ form_label(form.is_published) }}
                {{ form_errors(form.is_published) }}
                {{ form_widget(form.is_published) }}
            </div>
		</fieldset>

        <fieldset>
            <legend>Meta Info:</legend>
            <div>
                {{ form_label(form.meta_title) }}
                
                {{ form_errors(form.meta_title) }}
                {{ form_widget(form.meta_title) }}
            </div>
            {{ form_row(form.meta_description) }}
        </fieldset>

		{{ form_row(form._token) }}
		
		<input type="submit" class="btn btn-primary" value="Save" />
	</form>
	
	<aside>
		<h3>Help</h3>
		<p>Fields marked with <span class="required-hint"></span> are required</p>
	</aside>
{% endblock %}