{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path('admin_navigation') }}">Navigation</a></li>
	<li class="active">Edit</li>
{% endblock %}

{% block mainContent %}
	<h2>Editing "{{ form.vars.value.title }} Link"</h2>
	<p class="well">
		Use this form to update the Navigation item.<br />
		<span class="label label-warning">Dont forget!</span> You can still swap the Navigation between an external/internal link.
	</p>

	<form action="{{ path('admin_navigation_edit', {'id' : form.vars.value.id }) }}" method="post" {{ form_enctype(form) }}>
		<fieldset>
			<legend>Navigation Fields:</legend>

            <div class="form-group">
                {{ form_label(form.href) }}
                {{ form_widget(form.href) }}
            </div>

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            <div class="form-group">
                {{ form_label(form.alt) }}
                {{ form_widget(form.alt) }}
            </div>

            {{ form_row(form.internalRoutes) }}
		</fieldset>

		{{ form_rest(form) }}
        {{ core.formErrors(form) }}

		<input type="submit" class="btn btn-primary" value="Save" />	
	</form>

	<aside>
		<h3>Help</h3>
		<p>Fields marked with <span class="required-hint"></span> are required</p>
	</aside>
{% endblock %}