{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li class="active">General Settings</li>
{% endblock %}

{% block mainContent %}
    <h2>Portfolio General Settings</h2>
    <p class="well">
        Here you can customise information about your corvus installation.<br />
		Such as the Title for your site, an optional subtitle and logo and more!
    </p>
    {{ form_errors(form) }}
    <form action="{{ path('CorvusAdminBundle_GeneralSettings') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
			<legend>General Settings Fields:</legend>
			
			<div class="form-group">
                {{ form_label(form.portfolio_title) }}
                {{ form_errors(form.portfolio_title) }}
                {{ form_widget(form.portfolio_title) }}
            </div>

			<div class="form-group">
				{{ form_row(form.portfolio_subtitle) }}
			</div>

			<div class="form-group">
				{{ form_row(form.display_subtitle) }}
			</div>

			<div class="form-group">
				{{ form_row(form.logo) }}
			</div>

			<div class="form-group">
				{{ form_row(form.display_logo) }}
			</div>

			<div class="form-group">
				{{ form_row(form.footer_text) }}
			</div>

			<div class="form-group">
				{{ form_row(form.template_choice) }}
			</div>

			<div class="form-group">
				{{ form_row(form.theme_choice) }}
			</div>
		</fieldset>

		<fieldset>
			<legend>Meta Title Fields:</legend>
			<div class="well">
				The Meta fields are used for search engine optimisation aswell as the titles for the pages (The bar at the top of the screen).<br />
				They use the titles here, aswell as the extra parts in the education/skills records etc.
			</div>
			{{ form_row(form.global_general_meta_title) }}
			{{ form_row(form.about_meta_title) }}
			{{ form_row(form.education_meta_title) }}
			{{ form_row(form.skills_meta_title) }}
			{{ form_row(form.work_history_meta_title) }}
			{{ form_row(form.project_history_meta_title) }}
			{{ form_row(form.global_work_history_meta_title) }}
			{{ form_row(form.global_project_history_meta_title) }}
		</fieldset>

		{{ form_rest(form) }}

		<input type="submit" class="btn btn-primary" value="Save" />
    </form>

	<aside>
		<h3>Help</h3>
		<p>Fields marked with <span class="required-hint"></span> are required</p>
	</aside>
{% endblock %}