{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path('admin_education') }}">Education</a></li>
	<li class="active">New</li>
{% endblock %}

{% block mainContent %}
	<h2>Add new Education</h2>
	<p class="well">
		An Education record will be displayed on the Education page. Where people can view
		all of your Education to date.
	</p>

	<form action="{{ path('admin_education_new') }}" method="post" {{ form_enctype(form) }} class="classy">
		<fieldset>
			<legend>Education Fields:</legend>
            
            <div class="form-group">
                {{ form_label(form.education_institute) }}
                {{ form_widget(form.education_institute) }}
            </div>

            <div class="form-group">
                {{ form_label(form.qualification) }}
                {{ form_widget(form.qualification) }}
            </div>

            <div class="form-group">
                {{ form_label(form.start_date) }}
                {{ form_widget(form.start_date) }}
            </div>

			<div class="form-group">
                {{ form_label(form.end_date) }}
                {{ form_widget(form.end_date) }}
            </div>
			
			<div class="form-group">
                {{ form_label(form.is_current_position) }}
                {{ form_widget(form.is_current_position) }}
            </div>

            {{ form_row(form.result) }}
		</fieldset>

		{{ form_rest(form) }}
        {{ core.formErrors(form) }}

		<input type="submit" class="btn btn-primary" value="Save" />
	</form>
		
	<aside>
		<h3>Help</h3>
		<p>Fields marked with <span class="required-hint"></span> are required</p>
	</aside>
{% endblock %}