{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block mainContent %}

	<h2>Add a New Education record.</h2>
	<p>
		Please enter all the fields, Alternate text is highly usefull for people with screenreaders :)
	</p>

	<form action="{{ path('CorvusAdminBundle_NewEducation') }}" method="post" {{ form_enctype(form) }} class="classy">
		<fieldset>
			<legend>Education Fields:</legend>
			
            <div>
                {{ form_label(form.row_order) }}
                <span class="asterix">*</span>
                {{ form_errors(form.row_order) }}
                {{ form_widget(form.row_order) }}
            </div>
            
			<div>
                {{ form_label(form.education_institute) }}
                <span class="asterix">*</span>
                {{ form_errors(form.education_institute) }}
                {{ form_widget(form.education_institute) }}
            </div>

            <div>
                {{ form_label(form.qualification) }}
                <span class="asterix">*</span>
                {{ form_errors(form.qualification) }}
                {{ form_widget(form.qualification) }}
            </div>

            <div>
                {{ form_label(form.start_date) }}
                <span class="asterix">*</span>
                {{ form_errors(form.start_date) }}
                {{ form_widget(form.start_date) }}
            </div>

            <div>
                {{ form_label(form.duration) }}
                <span class="asterix">*</span>
                {{ form_errors(form.duration) }}
                {{ form_widget(form.duration) }}
            </div>

            {{ form_row(form.result) }}

		</fieldset>

		{{ form_rest(form) }}

		<a href="{{ path('CorvusAdminBundle_Education') }}" class="cancel">Cancel</a>
		&nbsp;
		<input type="submit" class="submit" value="Submit" />
	
	</form>

{% endblock %}