{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path('admin_navigation') }}">Navigation</a></li>
	<li class="active">New</li>
{% endblock %}

{% block mainContent %}

	<h2>Add new Navigation</h2>
	<p class="well">
		A new Navigation item will display another link in the Navigation on the frontend.<br />
		Enter the HREF to link to an external resource, or use the Internal Routes to link to a page
		in the portfolio.
	</p>

	<form action="{{ path('admin_navigation_new') }}" method="post" {{ form_enctype(form) }} class="classy">
		<fieldset>
			<legend>Navigation Fields:</legend>
			
            <div class="form-group">
                {{ form_label(form.href) }}
                {{ form_widget(form.href) }}
            </div>

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            <div class="form-group">
                {{ form_label(form.alt) }}
                {{ form_widget(form.alt) }}
            </div>

            {{ form_row(form.internalRoutes) }}

		</fieldset>

		{{ form_rest(form) }}
        {{ core.formErrors(form) }}

		<input type="submit" class="btn btn-primary" value="Save" />
	
	</form>
	
	<aside>
		<h3>Help</h3>
		<p>Fields marked with <span class="required-hint"></span> are required</p>
	</aside>
{% endblock %}