{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path('admin_project_history') }}">Project History</a></li>
	<li class="active">New</li>
{% endblock %}

{% block mainContent %}
	<h2>Add a New Project</h2>
	<p class="well">
		The Project history added with this form will display a detailed breakdown of the project on the frontend.<br />
		The Project details can be a great way for people to see what you have been working on/showcase your talent!
	</p>

	<form action="{{ path('admin_project_history_new') }}" method="post" {{ form_enctype(form) }} class="classy">
		<fieldset>
            <legend>Project History Fields:</legend>             
            
            <div class="form-group">
                {{ form_label(form.slug) }}
                {{ form_widget(form.slug) }}
            </div>

            <div class="form-group">
                {{ form_label(form.project_name) }}
                {{ form_widget(form.project_name) }}
            </div>

            <div class="form-group">
                {{ form_label(form.project_description) }}
                {{ form_widget(form.project_description) }}
            </div>

            <div class="form-group">
                {{ form_label(form.role) }}
                {{ form_widget(form.role) }}
            </div>

            {{ form_row(form.process) }}
            {{ form_row(form.feedback_received) }}
            {{ form_row(form.reflection) }}
            {{ form_row(form.url) }}
            
            <div class="form-group">
                {{ form_label(form.is_published) }}
                {{ form_widget(form.is_published) }}
            </div>
        </fieldset>

        <fieldset>
            <legend>Meta Info:</legend>
            <div class="form-group">
                {{ form_label(form.meta_title) }}
                {{ form_widget(form.meta_title) }}
            </div>
            {{ form_row(form.meta_description) }}
        </fieldset>

        {{ form_rest(form) }}
        {{ core.formErrors(form) }}

		<input type="submit" class="btn btn-primary" value="Save" />
    </form>
	
	<aside>
		<h3>Help</h3>
		<p>Fields marked with <span class="required-hint"></span> are required</p>
	</aside>
{% endblock %}