{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path('admin_skills') }}">Skills</a></li>
	<li class="active">New</li>
{% endblock %}

{% block mainContent %}
	<h2>Add a New Skill</h2>
	<p class="well">
		Adding a new Skill will display it in the Education page.<br />
		The skills can be a great way to indicate what your good at, and just how good you are.
	</p>

	<form action="{{ path('admin_skills_new') }}" method="post" {{ form_enctype(form) }} class="classy">
		<fieldset>
			<legend>Skill Fields:</legend>
                        
            <div class="form-group">
                {{ form_label(form.skill_name) }}
                {{ form_widget(form.skill_name) }}
            </div>

            <div class="form-group">
                {{ form_label(form.competency) }}
                {{ form_widget(form.competency) }}
            </div>

            <div class="form-group">
                {{ form_label(form.years_experience) }}
                {{ form_widget(form.years_experience) }}
            </div>

            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>

			<div class="form-group">
                {{ form_label(form.can_display_skill) }}
                {{ form_widget(form.can_display_skill) }}
            </div>
			
			<p class="help-block">Display skill controls if all details about a Skill will be displayed</p>
			
			<div class="form-group">
                {{ form_label(form.is_quick_skill) }}
                {{ form_widget(form.is_quick_skill) }}
            </div>
			
			<p class="help-block">Display skill controls if all Skill will be displayed in the Quick Skills section</p>
		</fieldset>

		{{ form_rest(form) }}
        {{ core.formErrors(form) }}
		
		<input type="submit" class="btn btn-primary" value="Save" />
	</form>
	
	<aside>
		<h3>Help</h3>
		<p>Fields marked with <span class="required-hint"></span> are required</p>
	</aside>
{% endblock %}