{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li class="active">ProjectHistory</li>
{% endblock %}

{% block mainContent %}
    <h2>Project History</h2>
	<div class="well">
		These are all the Projects you have worked on. This will be used to display a Project overview in the portfolio.<br />
		It will also be included in the downloadable CV <span class="label label-info">Coming Soon</span>.
	</div>
    
    {{ form_start(form, {"action": path('admin_project_history_delete'), "method": "DELETE"}) }}
		<table class="table table-bordered table-hover table-striped">
			<tfoot>
				<tr><td colspan="5"><a href="{{ path('admin_project_history_new') }}" class="btn btn-primary">New</a></td></tr>
			</tfoot>
			<thead>
				<tr><th><input type="checkbox" id="selectAll" /></th>
				<th>Order</th>
				<th>Project Name</th>
				<th>Role</th>
				<th>Actions</th></tr>
			</thead>
			<tbody>
				{% for item in form.projectHistory %}
					<tr>
                        <td>{{ form_widget(item.check, { 'value' : item.vars.value.id }) }}</td>
                        <td>{{ item.vars.value.rowOrder }}
                            <div class="btn-group btn-group-xs">
                                {% if form.projectHistory|length > 1 %}
									{% if loop.first == true %}
										<a href="{{ path('admin_project_history_order_up', { id : item.vars.value.id }) }}" class="btn btn-default disabled">
											<i class="fa fa-level-up"></i>
										</a>
									{% else %}
										<a href="{{ path('admin_project_history_order_up', { id : item.vars.value.id }) }}" class="btn btn-default">
											<i class="fa fa-level-up"></i>
										</a>
									{% endif %}
									{% if loop.last == false %}
										<a href="{{ path('admin_project_history_order_down', { id : item.vars.value.id }) }}" class="btn btn-default">
											<i class="fa fa-level-down"></i>
										</a>
									{% else %}
										<a href="{{ path('admin_project_history_order_down', { id : item.vars.value.id }) }}" class="btn btn-default disabled">
											<i class="fa fa-level-down"></i>
										</a>
									{% endif %}								
                                {% endif %}
                                {% if item.vars.value.isPublished == true %}
                                    <a href="{{ path('admin_project_history_depublish', { id: item.vars.value.id }) }}" class="btn btn-default">
                                        <i class="fa fa-check text-success"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ path('admin_project_history_publish', { id: item.vars.value.id }) }}" class="btn btn-default">
                                        <i class="fa fa-times text-danger"></i>
                                    </a>
                                {% endif %}
                            </div>
						</td>
						<td>{{ item.vars.value.projectName }}</td>
						<td>{{ item.vars.value.role }}</td>
						<td>
							<a href="{{ path('admin_project_history_edit', { id : item.vars.value.id }) }}" class="btn btn-primary btn-xs">
								<i class="fa fa-pencil-square-o"></i> Edit
							</a>
							<a href="{{ path('admin_project_history_delete_id', { id : item.vars.value.id }) }}" class="btn btn-danger btn-xs">
								<i class="fa fa-trash-o"></i> Delete
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br />
		<h3>Other Actions</h3>
		<select>
			<option>Delete Selected</option>
		</select>
		<input type="submit" class="btn btn-danger fa" value="&#xf014; Delete" />
		<a class="btn btn-default" href="{{ path('frontend_project_history') }}" target="_blank"><i class="fa fa-eye"></i> View on Portfolio</a>

		{{ form_widget(form._token) }}
    </form>
{% endblock %}