{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path('admin_general_settings') }}">General Settings</a></li>
	<li class="active">Account Security</li>
{% endblock %}

{% block mainContent %}
	<h2>Account Security</h2>
	<p class="well">Use the form below to <b>Change your password</b>. This needs to be done to make sure your installation of Corvus is secure.</p>

	<form role="form" action="{{ path('admin_general_settings_security') }}" method="post" {{ form_enctype(form) }}>
		<p>Enter the current password and a matching new password and confirmation.</p>

		<div class="form-group">
			{{ form_label(form.currentPassword) }}
			{{ form_widget(form.currentPassword) }}
		</div>

		<div class="form-group">
			{{ form_label(form.plainPassword.first) }}
			<sup>[1]</sup>
			{{ form_widget(form.plainPassword.first) }}
            {{ core.fieldError(form.plainPassword.first) }}
		</div>

		<div class="form-group">
			{{ form_label(form.plainPassword.second) }}
			<sup>[1]</sup>
			{{ form_widget(form.plainPassword.second) }}
		</div>

        {{ core.formErrors(form) }}
		{{ form_rest(form) }}
		
		<input type="submit" class="btn btn-primary" value="Save" />
	</form>
		
	<aside>
		<h3>Help</h3>
		<p>Fields marked with <span class="required-hint"></span> are required</p>
		<p class="help-block"><sup>[1]</sup> Make sure the New Password and Repeat Password fields match</p>
	</aside>
{% endblock %}