{% extends 'CorvusAdminBundle:Default:adminBase.html.twig' %}

{% block breadcrumbs %}
	<li class="active">Site Design</li>
{% endblock %}

{% block mainContent %}
    <h2>Site Design</h2>
    
    <div class="well">
        The <b>Site Design</b> section allows you to <b>Choose the Active Template/Theme</b> choice.<br />
        You can also <b>Edit the Current Theme</b> by clicking the "Edit Theme" button below.
    </div>

    <form role="form" action="{{ path('admin_site_design') }}" method="post" {{ form_enctype(form) }}>
        <div class="form-group">
            {{ form_label(form.template_choice) }}
            {{ form_widget(form.template_choice) }}
        </div>

        <div class="form-group">
            {{ form_label(form.theme_choice) }}
            {{ form_widget(form.theme_choice) }}
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Save</button>
            {{ form_widget(form.generate_button, { "label": "Compile Theme", "attr": { "class": "btn btn-info"}}) }}
            <a href="{{ path('admin_theme_editor') }}" class="btn btn-warning">Edit Theme</a>
        </div>
        
        <p class="help-block">Compiling the theme takes a while!<br />Editing edits the current theme</p>
        {{ form_row(form._token) }}
    </form>
{% endblock %}